{% extends 'link.html' %}
{% load static %}

{% block title %}
<title>About us - CKUMAR MEHTA</title>
{% endblock %}

{% block boody_containt %}

<!-- NAVBAR -->

<nav class="navbar navbar-expand-lg bg-hf ">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="{% url 'ckumar' %}">
      <img src="{% static 'images/ckumar-mehta-logo.png' %}" alt="Profile Picture" width="75" height="75">
      <div class="ms-2 text-white">
        <strong>CKUMAR MEHTA</strong><br>
        <small class="text-wrap">Google Ads Certified PPC Ads Specialist</small>
      </div>
    </a>
    <button class="navbar-toggler border border-white" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="bi bi-justify" style="color: white;"></i>
    </button>
    <div class="collapse navbar-collapse me-5 justify-content-end " id="navbarNavDropdown">
      <ul class="navbar-nav ms-5   nav-underline justify-content-end ">
        <li class="nav-item ">
          <a class="nav-link text-white " href="{% url 'ckumar' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'service' %}">SERVICES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white active" href="{% url 'about' %}">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'contact' %}">CONTACT</a>
        </li>
    </div>
  </div>
</nav>

<!-- Breadcrumb  -->

<div class="container pt-4">
  <nav style="--bs-breadcrumb-divider: '>>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'ckumar' %}" class="nav-link">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">About us</li>
    </ol>
  </nav>
</div>

<!-- section -->

<!-- section-1 -->

<div class="container-lg mt-5 mb-5">
  <div class="row g-4">

    <div class="col-lg-4">
      <div class="card bg-pf text-dark p-2 m-3 cboder">
        <div class="card-head p-3">
          <h1 class="fw-bolder">ABOUT CKUMAR</h1>
          <img class="img-fluid border border-0 rounded mt-2"
            src="{% static 'images/ckumar-mehta-digital-marketing-specialist.jpg' %}" alt="">
        </div>
        <div class="card-body text-wrap lh-1">
          <h6><strong>Public Name:</strong> Ckumar Mehta</h6>
          <h6><strong>Full Name:</strong> Chandan Kumar Mehta</h6>
          <h6><strong>Email Contact:</strong> contact@ckumar.in</h6>
          <h6><strong>Phone Contact:</strong> +91-9313-51-2275</h6>
          <h6><strong>Service:</strong> Search PPC Ads Specialist</h6>
          <h6><strong>From Date:</strong> January 17, 2008</h6>
          <h6><i class="bi bi-whatsapp"></i><strong> Whatsapp Chat:</strong> Chat Now</h6>
          <h6><i class="bi bi-facebook"></i> facebook.com/onlineckumar</h6>
          <h6><i class="bi bi-linkedin"></i> linkedin.com/in/ckumarmehta/</h6>
          <h6><i class="bi bi-instagram"></i> Instagram.com/ckmehta/</h6>
          <h6><i class="bi bi-file-person"></i> www.ckumar.in</h6>
          <div class=" justify-content-center mt-4 mb-4 ">
            <button type="button" class="btn btn-success  rounded">
              <h5>Know More About Me...</h5>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class=" col-12 col-lg-8  p-5 text-justify lh-lg">
      <div class="row align-items-center">
        <div class="col-2 ">
          <p class="border border-black border-3 rounded"></p>
        </div>
        <div class="col-10">
          <h1 class="fw-bolder">Get to know Ckumar Mehta</h1>
        </div>
      </div>
      <p class="text-lg">I am CKUMAR Mehta(Chandan Kumar). I am an expert in Google Ads and Social Media ads. I will
        rank & put your brand on the 1st page of a search engine like google in 24 hours by paid advertisements that
        show ads to millions of customers interested in your services and products. You will get new customer's
        inquiries, leads, chats, phone calls & sales at the best possible ROI from the paid advertisement.</p>
      <p class="text-lg">As a <b>Certified Google Adwords Specialist</b>, I have more than 10+ years of experience in
        internet-based Digital Marketing & Advertising, especially in Search Engine Paid Ads Advertising. I can help you
        to manage and optimize your Google Ads (formerly Adwords) account, Bing Ads Account, LinkedIn Ad Account &
        Facebook Ads Account. I Offers <b>PPC Ads Management Services</b> in all states of India and all over the world
        (preferably in English-speaking countries like the USA, Canada, Australia, United Kingdom, Ireland, Germany,
        France, Italy, Netherlands, Singapore, Brazil, etc). I prefer to work with people or companies who have a budget
        of a minimum of $30 per day to a maximum of $5000 per day. I have set up more than 315+ campaigns & all of them
        are doing well. As a <b>PPC Ads Campaign Manager</b> for my clients, my best practice is to bring them traffic
        at the lowest cost. You can speak to my customers concerning my work if needed.</p>

      <h5><b>Get a 7 -Day Paid Trial Now. Anywhere From The World.</b></h5>

      <p>I prefer to work with people who previously have an AdWords account & running them for more than 3+ months.
        Probably people who are looking for <b>PPC Ads Management Service</b> second time for long terms. But I can set
        up a new campaign from scratch for new google ads customers also.</p>

      <p>Please remark that Google Ads and other PPC ads are not suitable for all types of businesses. It depends on
        many factors related to your business. Kindly share your details to get a free business consultation. Contact me
        through call/ What’s App or fill up the contact form below & I will contact you.</p>

      <div class="d-grid justify-content-end mx-auto mt-5 ">
        <button type="button" class="btn btn-success rounded">
          <h5>Start Your Free 7 Days Trial with Me</h5>
        </button>
      </div>
    </div>
  </div>
</div>


<!-- section-2 -->

<div class="container-fluid bg-hf p-4">
  <div class="container bg-white text-black text-center p-4">
    <h3 class="fw-bolder ">Ckumar Mehta's</h3>
    <h3>Google Ads Certifications</h3>
  </div>

  <div class="container text-center bg-white my-4">
    <div class="row row-cols-1 row-cols-md-3 g-2 g-lg-3 ">
      <div class="col  bg-black border border-white border-3 rounded rounded-3">
        <div class="p-3">
          <div class="card">
            <img src="{% static 'images/1-ckumar-g-ads-search-certification.jpg' %}" alt="">
            <div class="d-grid justify-content-center mx-auto my-3 ">
              <button class="dloadbtn" type="button">
                <span class="dloadbtn__text">Click here to download pdf formate</span>
                <span class="dloadbtn__icon"><i class="bi bi-download" style="color: white;"></i></span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col  bg-black border border-white border-3 rounded rounded-3">
        <div class="p-3">
          <div class="card">
            <img src="{% static 'images/2-ckumar-g-ads-display-certification.jpg' %}" alt="">
            <div class="d-grid justify-content-center mx-auto my-3 ">
              <button class="dloadbtn" type="button">
                <span class="dloadbtn__text">Click here to download pdf formate</span>
                <span class="dloadbtn__icon"><i class="bi bi-download" style="color: white;"></i></span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col  bg-black border border-white border-3 rounded rounded-3">
        <div class="p-3">
          <div class="card">
            <img src=" {% static 'images/3-ckumar-g-ads-measurement-certification.jpg' %}" alt="">
            <div class="d-grid justify-content-center mx-auto my-3 ">
              <button class="dloadbtn" type="button">
                <span class="dloadbtn__text">Click here to download pdf formate</span>
                <span class="dloadbtn__icon"><i class="bi bi-download" style="color: white;"></i></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- section-3 -->

<div class="container-fluid" style="background-color: #EDE2E2;">
  <div class="container  text-black text-center p-2">
    <h3 class="fw-bolder ">Google Ads Certifications</h3>
  </div>
</div>


<div class="container-fluid bg-hf p-4">
  <div class="container text-center bg-white my-4">
    <div class="row row-cols-1 row-cols-md-3 g-2 g-lg-3 ">
      <div class="col  bg-black border border-white border-3 rounded rounded-3">
        <div class="p-3">
          <div class="card">
            <img src="{% static 'images/1-ckumar-g-ads-search-certification.jpg' %}" alt="">
            <h5 class="fw-bolder mt-3">Google Ads Search Certification</h5>
            <div class="d-grid justify-content-center mx-auto my-3 ">
              <button class="dloadbtn" type="button">
                <span class="dloadbtn__text">Click here to download pdf formate</span>
                <span class="dloadbtn__icon"><i class="bi bi-download" style="color: white;"></i></span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col  bg-black border border-white border-3 rounded rounded-3">
        <div class="p-3">
          <div class="card">
            <img src="{% static 'images/2-ckumar-g-ads-display-certification.jpg' %}" alt="">
            <h5 class="fw-bolder mt-3">Google Ads Display Certification</h5>
            <div class="d-grid justify-content-center mx-auto my-3 ">
              <button class="dloadbtn" type="button">
                <span class="dloadbtn__text">Click here to download pdf formate</span>
                <span class="dloadbtn__icon"><i class="bi bi-download" style="color: white;"></i></span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col  bg-black border border-white border-3 rounded rounded-3">
        <div class="p-3">
          <div class="card">
            <img src="{% static 'images/3-ckumar-g-ads-measurement-certification.jpg' %}" alt="">
            <h5 class="fw-bolder mt-3">Google Ads Measurement Certification</h5>
            <div class="d-grid justify-content-center mx-auto my-3 ">
              <button class="dloadbtn" type="button">
                <span class="dloadbtn__text">Click here to download pdf formate</span>
                <span class="dloadbtn__icon"><i class="bi bi-download" style="color: white;"></i></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Section-4 -->

<div class="container-fluid bg-white p-4">
  <div class="container text-center bg-white my-4">
    <div class="row row-cols-1 row-cols-md-3 g-2 g-lg-3 ">
      <div class="col  bg-black border border-white border-3 rounded rounded-3">
        <div class="p-3">
          <div class="card">
            <img src="{% static 'images/4-ckumar-g-ads-video-certification.jpg' %}" alt="">
            <h5 class="fw-bolder mt-4">Google Ads Video Certification</h5>
            <div class="d-grid justify-content-center mx-auto my-4 ">
              <button class="dloadbtn" type="button">
                <span class="dloadbtn__text">Click here to download pdf formate</span>
                <span class="dloadbtn__icon"><i class="bi bi-download" style="color: white;"></i></span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col  bg-black border border-white border-3 rounded rounded-3">
        <div class="p-3">
          <div class="card">
            <img src="{% static 'images/5-ckumar-shopping-g-ads-certification.jpg' %}" alt="">
            <h5 class="fw-bolder mt-4">Google Shopping Ads Certification</h5>
            <div class="d-grid justify-content-center mx-auto my-4 ">
              <button class="dloadbtn" type="button">
                <span class="dloadbtn__text">Click here to download pdf formate</span>
                <span class="dloadbtn__icon"><i class="bi bi-download" style="color: white;"></i></span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col  bg-black border border-white border-3 rounded rounded-3">
        <div class="p-3">
          <div class="card">
            <img src="{% static 'images/6-ckumar-g-ads-analytics-individual-qualification.jpg' %}" alt="">
            <h5 class="fw-bolder mt-3">Google Analytics Individual Qualification</h5>
            <div class="d-grid justify-content-center mx-auto my-3 ">
              <button class="dloadbtn" type="button">
                <span class="dloadbtn__text">Click here to download pdf formate</span>
                <span class="dloadbtn__icon"><i class="bi bi-download" style="color: white;"></i></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}