{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - CKUMAR MEHTA</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/dstyle.css' %}">
</head>

<body>
    <div class="cover2">
        <div class="text-black bg-white pt-5 pb-5 " style="--bs-bg-opacity: .9;">
            <div class="container pt-4 pb-5">
                <div class="row justify-content-center mt-5">
                    <div class="col-12 col-lg-5">
                        <div class="card bg-hf text-white border border-4 rounded rounded-4 border-info m-4 p-2">
                            <div class="card-body">
                                <h2 class="text-center mb-3">Sign In To Your Account</h2>


                                <form action="{% url 'display' %}" method="POST" class="mt-2">
                                    {% csrf_token %}
                                    <label for="email" class="form-label mt-2">Email Address</label>
                                    <input type="email" name="email" class="form-control" id="email"
                                        placeholder="Email Address" required>
                                    <label for="password" class="form-label mt-2">Password</label>
                                    <input type="password" name="password" class="form-control" id="password"
                                        placeholder="Password" required>
                                    <div class="row">
                                        <div class="col">
                                            <input type="checkbox" name="remember" id="remember" class="mt-3 "> Remember
                                            Me
                                        </div>
                                        <div class="col">
                                            <div class="text-end mt-3">
                                                <span class="forgot-password"><a href="#"
                                                        class="text-white text-decoration-none">Forgot Password
                                                        ?</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    {% if invalid %}
                                    <div>
                                        <p class="text-danger">Invalid Credentials</p>
                                    </div>
                                    {% endif %}
                                    <div class="d-flex justify-content-center mt-4 mb-4">
                                        <button type="submit" class="signin-button">
                                            <span class="signin-transition-button"></span>
                                            <span class="signin-gradient-button"></span>
                                            <span class="signin-label-button">Sign In</span>
                                        </button>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mt-3 text-center">
                                                <span class="forgot-password"><a href="{% url 'signup' %}"
                                                        class="text-white text-decoration-none">Don't have an account ?
                                                        <span class="text-primary">Signup</span></a></span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>

</body>
</body>

</html>