{% extends 'link.html' %}
{% load static %}

{% block title %}
<title>Refund and Cancellation Policy - CKUMAR MEHTA</title>
{% endblock %}

{% block boody_containt %}

<!-- NAVBAR -->

<nav class="navbar navbar-expand-lg bg-hf ">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="{% url 'ckumar' %}">
      <img src="{% static 'images/ckumar-mehta-logo.png' %}" alt="Profile Picture" width="75" height="75">
      <div class="ms-2 text-white">
        <strong>CKUMAR MEHTA</strong><br>
        <small class="text-wrap">Google Ads Certified PPC Ads Specialist</small>
      </div>
    </a>
    <button class="navbar-toggler border border-white" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="bi bi-justify" style="color: white;"></i>
    </button>
    <div class="collapse navbar-collapse me-5 justify-content-end " id="navbarNavDropdown">
      <ul class="navbar-nav ms-5   nav-underline justify-content-end ">
        <li class="nav-item ">
          <a class="nav-link text-white " href="{% url 'ckumar' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'service' %}">SERVICES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'about' %}">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'contact' %}">CONTACT</a>
        </li>
    </div>
  </div>
</nav>

<!-- Breadcrumb  -->

<div class="container pt-4">
  <nav style="--bs-breadcrumb-divider: '>>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'ckumar' %}" class="nav-link">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Refund and Cancellation Policy</li>
    </ol>
  </nav>
</div>

<!-- section -->
<div class="container lh-base mb-5">
  <h1><strong>Refund and Cancellation Policy</strong></h1>
  <p><b>Please read below the refund and return policy of our digital marketing services, Social media marketing
      services, SEO Services, web design & development services, domain registration services, web hosting services,
      online advertising consulting services before entering into a business contract.</b></p>
  <ol>
    <li>These refund policies outline the rules and regulations for the use of CKUMAR.IN /CKUMAR MEHTA /CHANDAN KUMAR
      Website, located at ckumar.in. In line with providing our customers with the best quality and client experience,
      we have established a considerate cancellation and refund policy.</li>
    <li>A full refund will be issued if you choose to cancel our services within 5 days of payment.</li>
    <li>If you choose to terminate our services after the initial 5 days then you will be charged an amount equivalent
      to the working hours put into the project. The balance will be credited to the account from which you made the
      payment within 5 to 10 days of cancellation.</li>
    <li>Cancellation of any service renewal should be done 10 days before the next billing cycle starts.</li>
    <li>If cancellations are made after the start of the billing cycle then an amount equivalent to the working hours
      put into the project during that month will be billable, which the clients will be entitled to pay.</li>
    <li>If you signed up for our services but did not use them, you are still entitled to pay us.</li>
    <li>The amount of the refund will be credited to the account from which the payment was made within 5 to 10 days of
      service cancellation.</li>
    <li>We plan each project by dividing work into milestones. All projects begin with a complete discovery/analysis and
      the creation of a scope of work document. This is done to make sure that both parties have a complete
      understanding of the work required and thus eliminate the potential for project cancellations, reversals, or
      disputes. As there is time spent to achieve every milestone and complete every module, a refund is not possible
      for work already completed.</li>
    <li>In the event of a project being terminated on a mutual basis, the client has control of all completed work, and
      any payment for further web development will become void. No previous payment or deposit would be refunded.</li>
    <li>No payment will be refunded once the client approves mock-up designs and we move into the development phase of
      the project.</li>
    <li>There are no partial refunds for projects mid-way through a milestone phase.</li>
    <li>No cancellations are entertained for services that our marketing team has offered on special occasions. These
      are limited-time offers and cannot be cancelled.</li>
    <li>Digital marketing packages are not refundable, but the client may cancel with a notice written 30 days in
      advance.</li>
    <li>We do not offer refunds on deposits or payments for projects that are abandoned or lay dormant for more than 30
      days.</li>
    <li>We offer 30 30-day refund policy for resellers' shared web hosting space for new customers only one time.</li>
    <li>No refund for domain registration services.</li>
  </ol>
  <h1><strong>SEO Refund Policy</strong></h1>
  <ol>
    <li>We will not be liable for refund or guarantee of top search ranking under the following circumstances:</li>
    <li>In case of effect on SEO ranking due to changes in ranking algorithm, policies or functionality of search
      engines.</li>
    <li>Link building, a part of SEO, is carried out based on the information you provide us. In case the URLs given by
      you are incorrect, we will not be responsible for any subsequent errors and there will not be any refunds or
      money-back guarantees.</li>
    <li>We will not be responsible for SEO results if the client engages with any other third-party SEO services.</li>
    <li>The number of times and rank of a website appearing on the search list varies and thus an immediate change in
      the search ranking cannot be guaranteed.</li>
    <li>Any adverse effect on ranking due to changes in website content by the client or third party service provider
      hired by them.<br>
      <br>We make no guarantee that our SEO services will show the client's website in the top ten search rank. However,
      understand that we work in your best interest and put in our best effort to provide genuinely profitable results.
      Our aim is to make your life simpler and your business more lucrative.
    </li>
  </ol>

  <p>contact us at support@ckumar.in for further resolution if needed.</p>
  <p><span>As long as the website and the information and services on the website are provided free of charge, we will
      not be liable for any loss or damage of any nature.</span></p>
  <p>*We reserve the right to change the above refund and cancellation policy at any given point without any prior
    notice.</p>
  <p><b>Last Updated: August 30th, 2021</b></p>



</div>


{% endblock %}